<!DOCTYPE html>
<html>
  <head>
    <title>Chattsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-12">
    <% Category.all.each do |category| %>
    <%= link_to category.name, businesses_path(category: category.name) %>
    <% end %>
    <%= yield %>

  </div>
  </body>
</html>
