<!DOCTYPE html>
<html>
  <head>
    <title>Chattsupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <%= link_to "All Businesses", root_path, :class => 'navbar-brand' %>
            <ul class='nav navbar-nav'>
              <% Category.all.each do |category| %>
              <li><%= link_to category.name, businesses_path(category: category.name) %></li>
              <% end %>
            </ul>
            <%= link_to 'Create New Business', new_business_path, :class => 'navbar-text navbar-right navbar-link' %>
        </div>
      </nav>
      <div class="col-md-12">
    <%= yield %>

  </div>
  </body>
</html>
